@model List<Message>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var message in Model)
{
    <div class="mb-3">
        <h4>@message.MessageText</h4>
        <p>@message.Name — @message.Location</p>
    </div>
}
