html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("/Images/synthwave_wallpaper_by_frozenskullvfx_dbkpxz5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.vapor-panel {
    background: linear-gradient(180deg, rgba(138, 0, 255, 0.95) 0%, rgba(95, 0, 180, 0.95) 40%, rgba(50, 0, 100, 0.92) 100% );
    border: 4px solid #0a2f24;
    border-radius: 6px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}
